{
  "kernel": [
    "/boot/zImage-YYYY-usbarmory",
    "KNL_SUM"
  ],
  "dtb": [
    "/boot/imx6ulz-usbarmory-tzns-YYYY.dtb",
    "DTB_SUM"
  ],
  "cmdline": "console=ttymxc1,115200 root=/dev/mmcblk0p1 rootwait rw cpuidle.off=1"
}
