{
  "kernel": [
    "/boot/zImage-YYYY-usbarmory",
    "KNL_SUM"
  ],
  "dtb": [
    "/boot/imx6ulz-usbarmory-default-YYYY.dtb",
    "DTB_SUM"
  ],
  "cmdline": "console=ttymxc1,115200 root=__ROOTDEV__ rootwait rw"
}
